@media screen and (min-width:0px) and (max-width:426px) {
    .Navlinks {
        display: none;
    }

    .Myimage {
        width: 10rem;
    }
   
.HomeParentDiv{
    width:100%;
   
}
    .HomeLeftSection {
        margin-top: 0rem;
        color: white;
       
    }
  .burgerspan{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    .Navbar {
        justify-content: flex-start;
        height:0;
    }

    .HamburgerMenu {
        background-color: rgba(46, 44, 44, 0.703);
        width: 100%;
        display: block;
        padding: 1rem;
    }

    .Myname {
        display: none;
    }

    .Navbar2 {
        transition: left 0.5s;
        left: -14rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 50%;
        z-index: 3;
        position: absolute;
        top: 0px;
        height: 60vh;
    }

    .Navbar2 span {
        width: 50%;
        padding-left: 4px;
    }

    .Navbar2 a {
        width: 80%;
        padding-left: 1rem;
    }

    .active {
        border-bottom: none;
    }

    .Navbar2 a {
        text-decoration: none;
        color: black;
        transition: transform 0.2s;
        font-weight: 700;
    }

    .Skills {
        margin-top: 2rem;
    }

    .MERN {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .WebDesign {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .LanguagesKnown {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }


    .AboutusContent {
        margin-right: 0px;
    }

    .AboutusContent h2 {
        text-align: center;

    }

    .AboutusContent p {
        text-align: center;

    }

    .LanguagesList {
        justify-content: center;
    }

    .aboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .AboutMePara {
        width: 100%;
        margin-top: 0rem;
    }

    .AboutMePara span {

        text-align: center;
    }

    .Pinfoheading {
        text-align: center;
        width: 100%;
    }

    .Name {
        width: 100%;
        padding: 1rem;
    }

    .Address {
        width: 100%;
        padding: 1rem;
    }

    .LocationSymbol {
        width: 30px;

    }

    .Education {
        width: 100%;
        padding: 1rem;
    }

    .font {
        font-size: 1.4rem;
    }

    .Projects {
        margin-top: 2rem;

    }

    .ProjectImages {
        width: 100%;
        padding-top: 2rem;
        display: flex;
        gap: 2rem;
        background-color: rgba(235, 229, 229, 0.128);

    }

    .imagedivs {
        width: 100%;
    }

    .ProjectImages2 {
        flex-direction: column;
    }

    .imagedivs2 {
        width: 100%;

    }

    .ExpHeading {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Experience {
        margin-top: 2rem;
    }

    .ListofExp {
        width: 100%;
    }

    .ExperienceDivs {
        padding-right: 1rem;
    }

    .IMCcertificate {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .CertificateStyle {
        width: 100%;
    }

    .FormParent h5 {
        text-align: center;
    }

    form {
        padding: 0rem 1rem;
    }

    .SocialIcons {
        width: 100%;
    }

    .SocialIcons h5 {
        text-align: center;
    }

    .ContactME {
        margin-top: 3rem;
    }

    .Social {
        width: 100%;
    }

    .SocialGmail {
        width: 100%;
        justify-content: start;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
   
.HomeParentDiv{
    width:100%;
}
.Myimage {
    width: 10rem;
}


.HomeLeftSection {
    margin-top: 0rem;
    color: white;
    padding-left: 1rem;
}

    .ExperienceDivs {
        gap: 15%;
    }
  

    .SocialIcons {
        width: 100%;
        align-items: start;
    }

    .Social {
        width: 100%;
    }

    .SocialGmail {
        width: 100%;
        justify-content: start;
    }

    .Myname {
        display: none;
    }

    .Navlinks {
        justify-content: space-between;
    }

    .Skills {
        margin-top: 2rem;
    }

    .MERN {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .WebDesign {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .LanguagesKnown {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }


    .AboutusContent {
        margin-right: 0px;
    }

    .AboutusContent h2 {
        text-align: center;
    }

    .AboutusContent p {
        text-align: center;
    }

    .LanguagesList {
        justify-content: center;
    }

    .aboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .AboutMePara {
        width: 100%;
        margin-top: 0rem;
    }

    .AboutMePara span {
        text-align: center;
    }

    .Pinfoheading {

        text-align: start;
        width: 100%;
    }

    .PersonalInfo {
        padding-left: 1rem;
    }

    .Name {
        width: 100%;
    }

    .Address {
        width: 100%;
    }

    .Education {
        width: 100%;
    }

    .ProjectImages {
        width: 100%;
    }

    form {
        padding: 0rem 1rem;
    }

}

@media screen and (min-width:768px) and (max-width:1024px) {
    .HomeParentDiv {
        width:90%;
    }
    .Myimage {
        width: 10rem;
        margin-right:1rem;
    }

    .ExperienceDivs {
        gap: 11.5%;
    }

    .SocialIcons {
        width: 100%;
        align-items: start;
    }

    .Social {
        width: 100%;
    }

    .SocialGmail {
        width: 100%;
        justify-content: start;
    }

    .ProjectImages {
        width: 100%;
    }

}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .Myimage{
        width:10rem;
    }
    .HomeParentDiv {
       justify-content: flex-start;
        width:100%;
        gap:5%;
    }
    .HomeRightSection{
        padding-left: 2rem;
    }

    .ExperienceDivs {
        gap: 11.5%;
    }

    .SocialIcons {
        width: 100%;
        align-items: start;
    }

    .Social {
        width: 100%;
    }

    .SocialGmail {
        width: 100%;
        justify-content: start;
    }

}